.heading {
  display: inline-flex;
  justify-content: space-between;
  width:  96%;
  font-size: 15px;
  font-weight: 600;
  font-family: Arial;
  margin: 10px 0 0 15px
}

.links{
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.colorLink a {
  color: darkorange;
  font-weight: 700;
}

.flex-container-teacher, .flex-container-student, .flex-container-course  {
  display: flex;
  height: auto;
  width: 98%;
  flex-wrap: wrap;
  line-height: 1;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 20px 0 0 20px;
  border-top: solid 2px darkgray;
  padding-top: 20px;
}

.flex-container-course  {
  justify-content: space-between;
}

.flex-container-teacher   {
  justify-content: center;
}

.first-container, .second-container, .third-container, .fourth-container, .fifth-container {
  width: 33.333%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 50px;
}

.first-container-course, .second-container-course, .third-container-course, .fourth-container-course, .fifth-container-course {
  width: 42%;
  display: flex;
  flex-direction: row-reverse;
  padding: 40px 0;
}

.first-container-student, .second-container-student, .third-container-student {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 50px;
}

#teacherSpread, #studentSpread, #courseSpread {
  width: 89.6%;
  display: flex;
  align-items: center;
}

.flex-item {
  background-color: lightgrey;
  width: 43%;
  height: auto;
  margin: 0;
  border: 1px solid darkgrey;
  padding-left: 15px;
}

.flex-item-student {
  background-color: lightgrey;
  width: 90%;
  height: auto;
  margin: 0;
  border: 1px solid darkgrey;
  flex-flow: column;
}

.Email, .GPA, .Courses {
  text-indent:  10%;
}

.flex-item-course {
  background-color: lightgrey;
  width: 43%;
  height: auto;
  margin: 0;
  border: 1px solid darkgrey;
  flex-flow: column;
  padding-left: 10px;
}

.title {
  display: block;
  font-weight:bold;
}

p {
  display:  block;
}

.Courses2 {
  text-indent: 40%;
}
