.flex-container-teacher {
  display: flex;
  height: auto;
  width: 98%;
  flex-wrap: wrap;
  line-height: 1;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.first-container, .second-container, .third-container, .fourth-container, .fifth-container {
  width: 33.333%;
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0 3%;
}

#theSpread {
  width: 90%;
  display: flex;
  align-items: center;
}

.flex-item {
  background-color: lightgrey;
  width: 44.3%;
  height: auto;
  margin: 0;
  border: 1px solid #fff;
  padding-left: 2%;
}

.title {
  display: block;
  font-weight:bold;
}

p {
  display:  block;
}
